{sub_dirs, ["apps/maru"
            ,"apps/maru_idioms"
            ,"apps/maru_models"
            ,"apps/maru_web"]}.
{lib_dirs, ["apps"]}.

{deps, [
       {lager, "2.0.0", {git, "git://github.com/basho/lager.git", {tag, "2.0.0rc2"}}}       
       ,{cowboy, "0.8.2", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.2"}}}
       ,{ranch, "0.8.1", {git, "git://github.com/extend/ranch.git", {tag, "0.8.1"}}}
       ,{jsx, "1.4.1", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.1"}}}
       ,{bcrypt, "0.5.0", {git, "git://github.com/smarkets/erlang-bcrypt.git", {tag, "0.5.0"}}}
       ,{erlydtl, "0.7.0", {git, "git://github.com/evanmiller/erlydtl.git", "898fbae78cd199795653b0d741073c7aa8d976d9"}}
       ,{erlware_commons, "", {git, "git://github.com/erlware/erlware_commons", {tag, "v0.10.1"}}}
       ,{uuid, "0.4.3", {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.4.3"}}}
       ]}.
