{sub_dirs, ["lib/maru"
            ,"lib/maru_idioms"
            ,"lib/maru_mail"
            ,"lib/maru_models"
            ,"lib/maru_web"]}.
{lib_dirs, ["lib"]}.

{deps, [
	 {sgte, "", {git, "https://github.com/filippo/sgte.git", {branch, "master"}}}
        ,{webmachine, "", {git, "git://github.com/basho/webmachine.git", {branch, "master"}}}
        ,{bcrypt, "", {git, "git://github.com/smarkets/erlang-bcrypt.git", {branch, "master"}}}
        ,{jiffy, "", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}}
        ,{erlydtl, "", {git, "git://github.com/evanmiller/erlydtl.git", {branch, "master"}}}
        ,{gen_smtp, "", {git, "git://github.com/Vagabond/gen_smtp.git", {branch, "master"}}}
        ,{ossp_uuid, "", {git, "git://github.com/yrashk/erlang-ossp-uuid.git", {branch, "master"}}}
        ,{ibrowse, "", {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}}
        ,{erlbrake, "", {git, "git://github.com/kenpratt/erlbrake.git", {branch, "master"}}}
        ,{erlware_commons, "", {git, "git://github.com/erlware/erlware_commons", {branch, "master"}}}
        ,{seresye, "", {git, "git://github.com/afiniate/seresye.git", {branch, "master"}}}
        ,{erlando, "", {git, "git://github.com/rabbitmq/erlando.git", {branch, "master"}}}
       ]}.
