%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ {maru, []},

  {maru_web, []},

  {lager, [
          {handlers, [{lager_console_backend,
                       ['info', {lager_default_formatter, [date, "T", time, "",
                                                           {module, [
                                                                    " mod=",
                                                                    module], ""},
                                                           " ", message, "\n"]}]}]}]}
].
