%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ {kernel, [
            {error_logger, {file, "logs/err"}}
           ]
  },

  %% SASL config
  {sasl, [{sasl_error_logger, {file, "logs/sasl"}},
          {errlog_type, error},
          {error_logger_mf_dir, "logs/mf"},       % Log directory
          {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
          {error_logger_mf_maxfiles, 5}           % 5 files max
         ]
  },
  
  {maru, []},

  {maru_web, [{webmachine_ip, any},
              {host_dir, {priv, maru_web}},
              {dispatch_file, {priv, maru_web}}]},

  {maru_mail, [{relay, "localhost"}]}

 ].
